[Unit]
 Description=Altherma sensors
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/bin/DKN.py --config /home/pi/lib/DKN.yaml sensord
 Restart=on-failure
 RestartSec=30s


 [Install]
 WantedBy=multi-user.target
